<section class="page-section" id="portfolio">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2 class="mt-0">Articulos</h2>
            <hr class="divider my-4" />
            <p class="text-muted mb-5">Aqui encontras acceso a los Articulos publicados para la realización de este proyecto</p>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://niixer.com/2020/03/26/music-iq-practice-yourself/" target="_blank"
                    ><img class="img-fluid" src="../../../assets/img/Articulos/10.png" alt="" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-name">Music IQ “Practice yourself”</div>
                    </div></a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://niixer.com/2020/05/21/metodos-de-estudio-para-el-aprendizaje-musical/" target="_blank"
                    ><img class="img-fluid" src="../../../assets/img/Articulos/1.png" alt="" />
                    <div class="portfolio-box-caption">                        
                        <div class="project-name">Métodos de estudio para el aprendizaje musical</div>
                    </div></a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://niixer.com/2020/05/17/aplicaciones-de-musica-para-aprender-a-tocar-guitarra/" target="_blank"
                    ><img class="img-fluid" src="../../../assets/img/Articulos/2.jpg" alt=""/>
                    <div class="portfolio-box-caption">
                        <div class="project-name">Aplicaciones de música para aprender a tocar guitarra</div>
                    </div></a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://niixer.com/2020/05/16/aplicaciones-movilesnativas-e-hibridas/" target="_blank"
                    ><img class="img-fluid" src="../../../assets/img/Articulos/3.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Aplicaciones móviles(nativas é Hibridas)</div>
                    </div></a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://niixer.com/2020/05/16/un-recorrido-por-microsoft-azure-que-es-y-para-que-sirve/" target="_blank"
                    ><img class="img-fluid" src="../../../assets/img/Articulos/4.png" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Un recorrido por Microsoft Azure, ¿Qué es y para que sirve?</div>
                    </div></a
                >
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://niixer.com/2020/05/14/un-recorrido-por-swift-que-es-y-para-que-sirve/" target="_blank"
                    ><img class="img-fluid" src="../../../assets/img/Articulos/5.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Un recorrido por Swift. ¿Qué es y para qué sirve?</div>
                    </div></a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://niixer.com/2020/05/07/un-recorrido-por-xcode-que-es-y-para-que-sirve/" target="_blank"
                    ><img class="img-fluid" src="../../../assets/img/Articulos/6.jpg" alt="" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-name">Un recorrido por Xcode: ¿Qué es y para qué sirve?</div>
                    </div></a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://niixer.com/2020/04/30/visual-studio-community-y-professional-diferencias-y-similitudes/" target="_blank"
                    ><img class="img-fluid" src="../../../assets/img/Articulos/7.png" alt="" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-name">Visual Studio Community y Professional: diferencias y similitudes</div>
                    </div></a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://niixer.com/2020/04/23/un-recorrido-por-xamarin-que-es-y-para-que-sirve/" target="_blank"
                    ><img class="img-fluid" src="../../../assets/img/Articulos/8.jpg" alt="" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-name">Un recorrido por Xamarin: ¿Qué es y para qué sirve?</div>
                    </div></a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://niixer.com/2020/04/16/un-recorrido-por-c/" target="_blank"
                    ><img class="img-fluid" src="../../../assets/img/Articulos/9.png" alt="" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-name">Un recorrido por C#. ¿Qué es y para qué sirve?</div>
                    </div></a>
            </div>
        </div>
    </div>
</section>
