<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Ponte en contacto con nosotros</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">Escribenos por medio de correo electronico o via whatsapp y nos pondremos en contacto contigo lo mas pronto posible..</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">                
                <i class="fa fa-whatsapp fa-3x mb-3 text-muted"></i>
                <div><a href="https://wa.me/573505763226" target="_blank">+57 (350) 5763226</a></div>
                
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope fa-3x mb-3 text-muted"></i
                ><!-- Make sure to change the email address in BOTH the anchor text and the link target below!--><a class="d-block" href="mailto:bgarzonl@ucentral.edu.co">bgarzonl@ucentral.edu.co</a>
            </div>
        </div>
    </div>
</section>