<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Pagina no encontrada!</h2>
                <hr class="divider my-4" />
                <div>
                    <img src="../../../assets/img/404.png" class="rounded mx-auto d-block" style="width: 400px;">
                </div>                
                <p class="text-muted mb-5">La URL ingresada no se encutra en este Sitio, vuelva a inicio e intente nuevamente...</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink="/">Volver a Inicio</a>
            </div>
        </div>
    </div>
</section>